<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CS363 - Final Project</title>
        <style>
            .canvasDisplay{
                width: 100%;
                height: 100%;
                background-color: #000;
            }

            body, html {
                padding: 0;
                margin: 0;
            }
        </style>
        <script  id="vertex-shader-3d" type="x-shader/x-vertex">
            varying vec2 vUv;
            void main() {
                vUv = uv;
                gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
            }
        </script>
        <script  id="fragment-shader-3d" type="x-shader/x-fragment">
            uniform vec3 pos;
            uniform vec4 clipRect;
            uniform sampler2D texture1;
            varying vec2 vUv;
            void main() {
                vec2 uv = vUv;
                
                vec4 tex = texture2D( texture1, uv * 9.0 );
                gl_FragColor = tex;
            }
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script>
    </head>
    <body>
        <canvas id="canvas" class="canvasDisplay"></canvas>
        <div id="overlay">
            <!-- three views one for each demo, fire animation, sprite sheet, shader color texture  -->

            <div id="app">
                <h3>CS363 Sprites</h3>
                <!-- three radio buttons for options -->
                <div>
                 
                    <input type="radio" id="fire" name="demo" value="fire" v-model="demo">
                    <label for="fire">Sprite Animation</label>
                    <input type="radio" id="sprite" name="demo" value="sprite" v-model="demo">
                    <label for="sprite">Sprite Sheet</label>
                    <input type="radio" id="shader" name="demo" value="shader" v-model="demo">
                    <label for="shader">Shader Colored Textures</label>
                    <input type="radio" id="parallax" name="demo" value="parallax" v-model="demo">
                    <label for="parallax">Parallax mapping</label>
                    <input type="radio" id="About" name="demo" value="About" v-model="demo">
                    <label for="About">About</label>
                </div>
                <!-- switch with each view content -->
                <div v-if="demo == 'About'">
                    <h3>Introduction</h3>
                    <p>
                        This is a demo of a few different texture techniques using custom shaders.<br />
                        The tech stack is Webpack, Vue.js, Three.js, and WebGL. Our project is made from scratch.<br />
                        All of the texture techniques are implemented in the custom WebGL shaders.<br />
                        We used three.js for the camera, skybox, and the floor.<br />
                        We used vue.js for the overlay UI.<br />
                        We used webpack to bundle the project and add typed class support.<br />
                    </p>
                    <a href="#" onclick="window.alert('View on project root folder at ./Individual-statements.txt')">View Individual Contribution Statements</a>
                    <h5>Application Class Structure</h5>
                    <img src="/textures/CodeStruct.png" style="width:100%;   ">

                    </div>  
                <div v-if="demo == 'fire'">
                    <h2>Fire Animation</h2>
                    <div>
                        <p>
                            The Fire Animation has two parts, the first is the sprite. Sprites are a texture assigned a 2d plane and can be made to always face the camera. 
                            The second part is the animation. The animation is a series of images that are played in sequence to create the illusion of movement.
                            The second & third fires uses 3d blending effects applied to the sprite to create a more realistic fire effect.
                        </p>
                        <h5>fire.png (texture1):</h5>

                        <img src="/textures/fire.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">
      
                        <h5>Vertex Shader Code:</h5>
                        <pre> 
                            <code>
varying vec2 vUv;
void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
                            </code>
                        </pre>

                        <h5>Fragment Shader Code:</h5>
                        <pre> 
                            <code>
uniform vec3 pos;
uniform vec2 spriteSelected;
uniform vec2 spriteSize;
uniform sampler2D texture1;
uniform sampler2D texture2;
uniform sampler2D texture3;
varying vec2 vUv;
void main() {
    vec2 uv = vUv;
                                    
    vec4 tex = texture2D( texture1, uv / spriteSize + (spriteSelected / spriteSize) );
                    
    // if the alpha is 0, discard this fragment
    if (tex.a == 0.0) discard;
    // condensed color weight between rgb
    float v = tex.x + tex.y + tex.z;

    // if color near solid black, discard : removes the blocky black border
    if(v < 0.1) discard;

    ${!withMap ? 'gl_FragColor = tex;' : ''}        
                
                    
    // a texture map to reduce the blockiness/pixelation (center of fire, not edges) of original 2d image
    vec4 tex2 = texture2D( texture2, uv / spriteSize + (spriteSelected / spriteSize));
    vec4 tex3 = texture2D( texture3, uv  );
    // blend the two textures
    
    ${withDiffuse ? 'tex2 = mix(tex2, tex3, 0.5);' : ''}           
    ${withMap ? 'gl_FragColor = tex/tex2;' : ''}
                                    
}
                            </code>
                        </pre>
                        <h5>Each Frame Updates:</h5>
                        <p>1. Update to look at camera<br />
                        2. Update uniform to next sprite via spriteSelected (x,y) uniform</p>
                        <h5>FireNormal.png (texture2):</h5>

                        <img src="/textures/FireNormal.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">

                        <h5>Noise Texture (texture3): (mixed 50% / 50% with fire normal on last fire)</h5>

                        <img src="/textures/detail160.png" style="width:50%;   image-rendering: pixelated; " alt="Doom Enemy Texture">
                 
                        <h5>Real World Example:</h5>
                        <p>Doom uses this concept for its enemy textures and other entities</p>
                        <img src="/textures/BjlN.gif" style="width:100%" alt="Doom Enemy Texture">
                        <h5>Sources:</h5>
                        <ul>
                            <li><a href="https://gifer.com/fr/s/game-doom">Doom in-game (From Gifer)</a></li>
                       
                        </ul> 
            </div>
        </div>
        <div v-if="demo == 'sprite'">
            <h2>Sprite Sheet</h2>
            <div>
                <p>
                    The Sprite Sheet is a strategy for storing multiple sprites in a single image. This is useful for reducing the number of shaders needed to render a scene.

                </p>
                <h5>Spritesheet.png (texture1):</h5>

                <img src="/textures/spritesheet.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">

                      <h5>Vertex Shader Code:</h5>
                        <pre> 
                            <code>
varying vec2 vUv;
void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
                            </code>
                        </pre>

                        <h5>Fragment Shader Code:</h5>
                        <pre> 
                            <code>
uniform vec3 pos;
uniform vec2 spriteSelected;
uniform vec2 spriteSize;
uniform sampler2D texture1;
varying vec2 vUv;
void main() {
    vec2 uv = vUv;
                                    
    vec4 tex = texture2D( texture1, uv / spriteSize + (spriteSelected / spriteSize) );
                    
    // if the alpha is 0, discard this fragment
    if (tex.a == 0.0) discard;
                      
    gl_FragColor = tex;
}
                            </code>
                        </pre>
                        <h5>Block Selection: </h5>
                        <pre>
                            <code>
enum BlockType {
    Stone = 0,
    Wood = 1,
    Brick = 2,
}
</code>
</pre>

                    
                    <img src="/textures/Screenshot.png" style="width:100%; " alt="Code screenshot" />
                    <p>Set the spriteSelected uniform using the enum value </p>
                        <h5>Real World Example:</h5>
                        <p>Minecraft uses this concept for its block textures that makeup the entire game</p>
                        <img src="/textures/minecraft.png" style="width:100%" alt="Doom Enemy Texture">
                        <img src="/textures/minecraftInGame.gif" style="width:100%" alt="Doom Enemy Texture">
        
                        <h5>Sources:</h5>
                        <ul>
                            <li><a href="https://support.bluestacks.com/hc/vi/articles/6462696716301-C%C3%A1ch-%C4%91%E1%BB%83-c%C3%B3-tr%E1%BA%A3i-nghi%E1%BB%87m-ch%C6%A1i-game-gi%E1%BB%91ng-PC-trong-Minecraft-tr%C3%AAn-BlueStacks-5">Minecraft In-Game (From BlueStacks)</a></li>
                            <li><a href="https://www.nicepng.com/ourpic/u2w7e6w7i1i1i1i1_blockcss-new-minecraft-block-sprite-sheet/">Minecraft Sprite Sheet (From NicePNG)</a></li>
                        </ul> 

            </div>

        </div>
        <div v-if="demo == 'shader'">
            <h2>Shader Colored Textures</h2>
            <div>
                <p>
                    The Shader Colored Textures is a strategy for coloring a texture in the shader. This is useful for reducing the number of textures needed to render a scene. It allows for more dynamic coloring of textures and reuse of textures. In this example, we color a door texture to be red, green, or blue.

                </p>door.png (texture1):</h5>

                <img src="/textures/door.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">

                      <h5>Vertex Shader Code:</h5>
                        <pre> 
                            <code>
varying vec2 vUv;
void main() {
    vUv = uv;
    gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
}
                            </code>
                        </pre>

                        <h5>Fragment Shader Code:</h5>

                        <pre>
                            <code>
uniform vec3 pos;
uniform vec3 spriteColor;
uniform sampler2D texture1;
varying vec2 vUv;
void main() {
    vec2 uv = vUv;
                                    
    vec4 tex = texture2D( texture1, uv);
                    
    // if the alpha is 0, discard this fragment
    if (tex.a == 0.0) discard;
                      
    gl_FragColor = tex * vec4(spriteColor, 1.0);
}
                            </code>
                        </pre>
                        <h5>Gradient Fragment Shader Code:</h5>

                        <pre>
                            <code>
uniform vec3 pos;
uniform vec3 spriteColorTopLeft;
uniform vec3 spriteColorTopRight;
uniform vec3 spriteColorBottomLeft;
uniform vec3 spriteColorBottomRight;
uniform sampler2D texture1;
varying vec2 vUv;
void main() {
   vec2 uv = vUv;
                                    
    vec4 tex = texture2D( texture1, uv);
                    
    // if the alpha is 0, discard this fragment
                      
    if (tex.a == 0.0) discard;
                    
    // create a gradient from the 4 colors
    vec3 color = mix(mix(spriteColorTopLeft, spriteColorTopRight, uv.x), mix(spriteColorBottomLeft, spriteColorBottomRight, uv.x), uv.y);
     gl_FragColor = tex * vec4(color, 1.0);
                    
}
                            </code>
                        </pre>
                        <h5>Real World Example:</h5>
                        <p>Used when games want to color textures on the fly. Popular with games that have user customizable skins for modals.</p>
                        <h5>Sources:</h5>
                        <ul>
                            <p> Used in course knowledge</p>
                        </ul> 
                    </div> 
                </div>
                    <div v-if="demo == 'parallax'">
                        <h2>Parallax Mapping </h2> 
                        <div>
                            <p>
Parallax mapping is a technique used to create the illusion of depth in a 2D image or game. It is most commonly used to add depth to textures on 3D models. The technique works by offsetting the texture coordinates based on angle of the camera. This creates the illusion of depth. The technique is most commonly used in games to add depth to textures on 3D models. The technique works by offsetting the texture coordinates based on angle of the camera. This creates the illusion of depth.
A very common example is the brick wall texture. The bricks appear to be closer to the camera than the mortar between the bricks due to the illusion.
                            </p>
                            <h5>brick-wayfair.png (texture1):</h5>

                            <img src="/textures/brick-wayfair.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">
                            <h5>brick-wayfair.png (texture1):</h5>

                            <img src="/textures/brick-invert-greyscale.png" style="width:100%;   image-rendering: pixelated; " alt="Doom Enemy Texture">
                                  <h5>Vertex Shader Code:</h5>
                                    <pre> 
                                        <code>
 varying vec2 vUv;
 varying vec3 vNormal;
 varying vec3 vViewPosition;
 void main() {
 vUv = uv;
 vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
 vViewPosition = -mvPosition.xyz;
 vNormal = normalize( normalMatrix * normal );
 gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
 }
                                        </code>
                                    </pre>
    
                                    <h5>Fragment Shader Code:</h5>
    
                                    <pre>
                                        <code>
                                             uniform vec3 pos;

 uniform sampler2D texture1;
 uniform sampler2D texture2;
 uniform sampler2D texture3;
 varying vec2 vUv;
 varying vec3 vNormal;
 uniform float parallaxScale;
 varying vec3 vViewPosition;
 vec2 parallaxMap( in vec3 V ) {
 float height = texture2D( texture2, vUv).r;
 vec2 texCoordOffset = parallaxScale * V.xy * height;
 return vUv - texCoordOffset;
 }

 vec2 visualApUV( vec3 surfacePosition, vec3 surfNormal, vec3 viewPosition ) {

 vec2 texDx = dFdx( vUv );
 vec2 texDy = dFdy( vUv );

 vec3 vSigmaX = dFdx( surfacePosition );
 vec3 vSigmaY = dFdy( surfacePosition );
 vec3 vR1 = cross( vSigmaY, surfNormal );
 vec3 vR2 = cross( surfNormal, vSigmaX );
 float fDet = dot( vSigmaX, vR1 );

 vec2 vProjVscr = ( 1.0 / fDet ) * vec2( dot( vR1, viewPosition ), dot( vR2, viewPosition ) );
 vec3 vProjVtex;
 vProjVtex.xy = texDx * vProjVscr.x + texDy * vProjVscr.y;
 vProjVtex.z = dot( surfNormal, viewPosition );

 return parallaxMap( vProjVtex );
 }

 

 void main() {
 vec2 mapUv = visualApUV( -vViewPosition, normalize( vNormal ), normalize( vViewPosition ) );
gl_FragColor = texture2D( texture1, mapUv );
 
 }
                                        </code>
                                    </pre>
                            <h5>Real World Example:</h5>
                            <p>Used in tons of modern game engines to add depth to textures on 3D models without a big cost. Made popular by the PS3 era of gaming.</p>
            <img src="https://learnopengl.com/img/advanced-lighting/parallax_mapping_depth.png" style="width:100%; background-color: aliceblue; border-radius: 1em;  " alt="Doom Enemy Texture">
                            <h5>Sources:</h5>
                <ul>    
                    <p> Brick image found on wayfair store</p>
                    <p> Brick inverse was generated in photoshop</p>
                    <a href="https://learnopengl.com/Advanced-Lighting/Parallax-Mapping">Parallax Research + eye image</a><br />
                    <a href="https://softsrc.cc/Public/three.js/examples/webgl_materials_parallaxmap.html">Parallax Three.js (Heavily based on)</a>
                        </div>
</div>
</div>        
</div>
    </body>

    <script> 
    
        const app = Vue.createApp({
            data() {
                return {
                    demo: 'fire',
                }
            }
        })
        app.mount('#app')
    
    </script>
    <style>
        #overlay {
            position: absolute;
          
          
            z-index: 100;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;

            overflow-y: scroll;
       
        }
        #app{
            width: 30%;
            background-color: rgba(0, 0, 0, 0.5);
            padding: 1em;
            border-radius: 1em;
            color: white;
            margin: 1em;
        
            
        }
        pre {
            background-color: #000;
            color: #fff;
            padding: .1em;
            border-radius: 1em;
        }

        code {
            white-space: pre-wrap;
            font-size: smaller;


        }
        a {
            color: white;
        }
    </style>
    
</html>
